<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель Администратора</title>
    <script>
        // Функция для отправки данных о баллах на сервер
        function updatePoints(userId, changeValue) {
            fetch("/update-points", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: `id=${userId}&change=${changeValue}`
            })
            .then(response => {
                if (!response.ok) {
                    alert("Ошибка обновления баллов!");
                }
                return response.text();
            })
            .then(updatedPoints => {
                // Обновление отображаемых баллов на странице
                if (updatedPoints) {
                    document.getElementById(`points${userId}`).innerText = updatedPoints;
                }
            });
        }

        // Обработчик события для обновления баллов
        function onInputBlur(inputElement, userId, isAddition) {
            const value = parseInt(inputElement.value, 10);
            if (!isNaN(value)) {
                const changeValue = isAddition ? value : -value; // Определяем добавление или вычитание
                updatePoints(userId, changeValue);
            }
            inputElement.value = ""; // Очищаем поле ввода
        }
    </script>
</head>
<body>
    <h1>Admin Panel - Class {{.ClassID}}</h1>
    <form action="/admin" method="get">
        <label for="class_id">Choose Class:</label>
        <select name="class_id" id="class_id" onchange="this.form.submit()">
            <option value="1" {{if eq .ClassID 1}}selected{{end}}>Class A</option>
            <option value="2" {{if eq .ClassID 2}}selected{{end}}>Class B</option>
            <option value="3" {{if eq .ClassID 3}}selected{{end}}>Class V</option>
            <option value="4" {{if eq .ClassID 4}}selected{{end}}>Class G</option>
        </select>
    </form>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя Пользователя</th>
            <th>Баллы</th>
            <th>Добавьте баллы</th>
            <th>Отнимите баллы</th>
        </tr>
        {{range .Students}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Username}}</td>
            <td id="points{{.ID}}">{{.Points}}</td>
            <td>
                <input 
                    type="number" 
                    onblur="onInputBlur(this, '{{.ID}}', true)" 
                    placeholder="Добавьте баллы">
            </td>
            <td>
                <input 
                    type="number" 
                    onblur="onInputBlur(this, '{{.ID}}', false)" 
                    placeholder="Отнимите баллы">
            </td>
        </tr>
        {{end}}
    </table>
</body>
</html>