label[for="username"] {
    /*text-align: center;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label[for="password"] {
    /*text-align: center;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    /*text-align: center;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    border-color: rgb(152, 236, 135) rgb(91, 230, 223) rgb(178, 235, 72);
    border-style: solid;
    border-width: 1px;
    padding: 15px 40px 15px;
    text-rendering: auto;
    color: initial;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    background-color: rgb(117, 233, 102);
    border-radius: 30px;
}